body {
    /* background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );; */
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #150e56; */
    background-image: url("https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /* background-repeat: no-repeat; */
}
.main {
    background-color: #a35709;
    width: 400px;
    height: 450px;
    margin: 10em auto;
    border-radius: 2em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign {
    padding-top: 40px;
    color: #132c33;
    font-weight: bold;
    font-size: 40px;
}
.yea{
    width: 76%;
color: white;
background-color: #f8a488;
font-weight: bolder;
font-size: 20px;
letter-spacing: 1px;
padding: 10px 20px;
border: 50px;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 4px solid rgba(0, 0, 0, 0.842);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}
.un{
width: 76%;
color: rgb(38, 50, 56);
font-weight: bolder;
font-size: 20px;
letter-spacing: 1px;
background-color: #f8a488;
padding: 10px 20px;
border: 50px;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 4px solid rgba(0, 0, 0, 0.842);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}
form.form1 {
    padding-top: 40px;
}
.pass{
    width: 76%;
    color: rgb(21, 111, 156);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #f8a488;
    padding: 10px 20px;
    border: 50px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 4px solid rgba(0, 0, 0, 0.842);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}
.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #ececec;
    background: linear-gradient(to right, #ff0000, #0f6e75);
    border: 0;
    padding: 10px 20px;
    margin-left: 33%;
    font-size: 15px;
    box-shadow:  0 10 20px 1px rgba(0, 0, 0, 0.04);
    border-width: 0cm;
}

